<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="">
        <ion-title>
          Funcionarios
        </ion-title>
      </ion-col>
      <ion-col>
        <ion-button>Inserir</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- LISTAR TODOS ALUNOS -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6">
      <ng-container *ngFor="let funcionario of this.funcionarios">
        <h1>Nome: {{funcionario.Nome}}  Cargo: {{funcionario.Nome}}</h1>
        <h1> seu pai</h1>
      </ng-container>
    </ion-col>
  </ion-row>
  







  

</ion-content>